version: '3.5'

services:
  codenip-weather-web:
    container_name: codenip-weather-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    volumes:
      - ./public:/appdata/www/public
    ports:
      - '3000:80'
    networks:
      - codenip-weather-network
    depends_on:
      - codenip-weather-app

  codenip-weather-app:
    container_name: codenip-weather-app
    build:
      context: ./docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=codenip-weather-server
    networks:
      - codenip-weather-network

networks:
  codenip-weather-network:
